# Rider and WebStorm IDE artifacts
.idea
Backend/.idea
Backend/Doorlist.sln.DotSettings.user

# C# Object Files
Backend/src/Doorlist.Domain/obj
Backend/src/Doorlist.Application/obj
Backend/src/Doorlist.Infrastructure/obj
Backend/src/Doorlist.Presentation/obj