# Exclude production HTTPS certs, realm config
Infrastructure/Keycloak/realm-export.keycloak.prod.json
Infrastructure/certs/doorlist.backend.prod.pfx
Infrastructure/certs/doorlist.keycloak.prod.crt
Infrastructure/certs/doorlist.keycloak.prod.key

# Rider and WebStorm IDE artifacts
.idea
Backend/.idea

# C# Object Files
Backend/src/Doorlist.Domain/obj
Backend/src/Doorlist.Application/obj
Backend/src/Doorlist.Infrastructure/obj
Backend/src/Doorlist.Presentation/obj