.rootLayoutContainer {
    display: grid;
    grid-template-rows: 10vh 1fr;
    min-height: 100vh;
    width: 100%;
}

.mainContainer {
    overflow-y: auto;

    padding: 0 1vw;
}

/* Phone/Tablet Adjustments */
@media (max-width: 1024px) {
    .mainContainer {
        padding: 0 4vw;
    }
}