.actionButton {
    /* Get rid of button styling */
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: inherit;

    display: inline-flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}