.rootLayoutContainer {
    display: grid;
    grid-template-rows: 10vh 1fr;
    min-height: 100vh;
    width: 100%;
    /* OFF WHITE */
    background-color: #f2f0ef;
}

.doorlistHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    /* ORANGE */
    background-color: #ee8802;
}

.mainContainer {
    overflow-y: auto;
}